<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo-left">
            <img src="../images/SolarMarineLogo.png" alt="Solar Marine Logo" class="logo-image">
        </div>
        <div class="nav-center">
            <div class="nav-title">
                <a href="/">What the AI Said</a>
            </div>
        <div class="nav-menu" id="nav-menu">
            <a href="/" class="nav-link">Home</a>
            <a href="/about/" class="nav-link">About</a>
            <a href="/blog/" class="nav-link">Blog</a>
            <a href="/projects/" class="nav-link">Projects</a>
        </div>
        </div>
        <div class="nav-toggle" id="nav-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>
